body {
    position: relative;
}

section {
    .clearfix();
}

.glyphicon {
    margin-right: 0.5em;
}

.dashicons {
    margin-right: 0.2em;

    width: inherit !important;
    height: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

a:hover,
a:focus {
    text-decoration: none;
    border-bottom: 1px solid @brand-primary;
}

img {
    padding-bottom: @padding-large-vertical
}

figure img {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 8px;
    padding-bottom: 0;
}