@media (min-width: @screen-sm-min) {
    .fixed-sm.affix-top {
        position: relative;
        top: 370px;
    }

    .fixed-sm.affix {
        position: fixed;
        top: 26px;
    }
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: @brand-primary;
    background: transparent;
    border-left: 3px solid @brand-primary;
    padding-left: 12px;
}

.nav-sub {
    font-size: 14px;
    display: none;
}

li.active .nav-sub {
    display: block;
}

.nav-sub > li > a {
    padding-left: (@grid-gutter-width);
    padding-top: (@padding-base-vertical / 2);
    padding-bottom: (@padding-base-vertical / 2);
}

.nav-sub > li.active > a,
.nav-sub > li.active > a:hover,
.nav-sub > li.active > a:focus {
    color: @brand-primary;
    background: transparent;
    border-left: 3px solid @brand-primary;
    padding-left: (@grid-gutter-width - 3);

}

.nav a:hover,
.nav a:focus {
    border-bottom: none;
}