.steps-list {
    counter-reset: steps;
    display: table;

    .stepswrap {
        margin-top: @grid-gutter-width/2;
        position: relative;
        padding-left: @grid-gutter-width;

        &:before {
            counter-increment: steps;
            content: counter(steps);

            position: absolute;
            top: 0;
            left: 0;

            color: @brand-primary;
            font-size: 32px;
            line-height: 1em;
            font-weight: 400;
        }

        div {
            display: table-cell;
            width: 100%;
            padding-right: @grid-gutter-width/2;
        }

        h4 {
            margin-top: 0;
        }

        counter-reset: step-part;

        .step-part {
            font-weight: 600;

            &:before {
                counter-increment: step-part;
                content: counter(step-part) ". ";

                font-size: @font-size-large;
                color: @brand-primary;
            }
        }
    }
}